# Entornos locales
.venv/
venv/
.env

# Cache Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Notebooks
.ipynb_checkpoints/

# Sistema operativo y editores
.DS_Store
Thumbs.db
.idea/
.vscode/

/codex
